html, body{
    height: 100%;
}
/*grid does not match image*/
.container {
  display: grid;
}

menu {
  background-color: purple;
}

header {
    background-color: lightblue;
    grid-column: 1;
    grid-column-end: 4;
    height: 50px;
}

aside{
    background: purple;
}

section{
    background-color: orange;
}

footer{
    background-color: darkblue;
    grid-row: 5;
    grid-column: 1;
    grid-column-end: 4;
    height: 50px;
}
